h1= title
form( method="post")
    div
        div
            span FirstName :
            input(type="text", name="firstname", id="createUserFirstname")
        div
            span LastName :
            input(type="text", name="lastname", id="createUserLastname")
        div
            span Email :
            input(type="text", name="email", id="createUserEmail")
        div
            span UserId :
            input(type="text", name="userid", id="createUserUserid")
        div
            span Password :
            input(type="password", name="password", id="createUserPassword")
        div
            span Re-enter Password :
            input(type="password", name="reenterpassword", id="createUserReenterPassword")
        dev#editWarbleSubmit
            input(type="submit", value="Send")