h1= title
form( method="post")
    div
        div
            span UserId :
            input(type="text", name="userid", id="loginUserid", value=userid)
        div
            span Password :
            input(type="password", name="password", id="loginUserPassword", value=password)
        dev#loginSubmit
            input(type="submit", value="Send")