h1= title
form( method="post")
    div
        div
            span Creator :
            input(type="text", name="creator", id="editWarbleCreator")
        div
            span Body :
            textarea( name="body", rows=20, id="editWarbleBody)
        dev#editWarbleSubmit
            input(type="submit", value="Send")